<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <link rel="stylesheet" href="blog.css">
    <link rel="stylesheet" href="blog1.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <title>Document</title>
</head>
<body> 
<header>
    <a href="#" class="logo">Blogly</a>
    <nav class="navbar">
    <ul>
        <li><a href="index.html">Home</a></li>
        <li><a href="aboutus.html">About</a></li>
        <li><a href="blog1.html">Blog</a></li>
        <li><a href="contact us.html">Contact</a></li>
        <li><a href="login.html">Logout</a></li>

    </ul>
    </nav>
    </header>
<section class="post-header">
    <div class="header-content post-container">
<a href="blog1.html" class="back-home">Back to Blog</a>
<h1 class="header-title">
    One of The Seven Wonder of The World Taj Mahal
</h1>
<img src="taj.jpg" alt="" class="header-img">
</div>
</section>
<section class="post-content post-container">
   <h2 class="sub-heading">
    One of The Seven Wonder of The World....
</h2>
<p class="post-text">
    One of the seven wonders of the world, Taj Mahal is located on the banks of River Yamuna in Agra. It was
    built by the Mughal Emperor Shah Jahan as a memorial for his third wife, Mumtaz Mahal. It also houses
    the tomb of Shah Jahan himself. Constructed entirely out of white marble in the 17th century, Taj Mahal
    is one of the most beautiful monuments in the world. Every year visitors numbering more than the entire
    population of Agra pass through the magnificent gates to catch a glimpse of this breathtaking monument.
</p>

<p class="post-text">
    One of the seven wonders of the world, Taj Mahal is located on the banks of River Yamuna in Agra. It was
    built by the Mughal Emperor Shah Jahan as a memorial for his third wife, Mumtaz Mahal. It also houses
    the tomb of Shah Jahan himself. Constructed entirely out of white marble in the 17th century, Taj Mahal
    is one of the most beautiful monuments in the world. Every year visitors numbering more than the entire
    population of Agra pass through the magnificent gates to catch a glimpse of this breathtaking monument.
</p>
<p class="post-text">
    One of the seven wonders of the world, Taj Mahal is located on the banks of River Yamuna in Agra. It was
    built by the Mughal Emperor Shah Jahan as a memorial for his third wife, Mumtaz Mahal. It also houses
    the tomb of Shah Jahan himself. Constructed entirely out of white marble in the 17th century, Taj Mahal
    is one of the most beautiful monuments in the world. Every year visitors numbering more than the entire
    population of Agra pass through the magnificent gates to catch a glimpse of this breathtaking monument.
</p>
</section>


</body>
</html>